
/* ---------- SECTION EXPERIENCE ---------- */
.experience-section {
  padding: 80px 20px;
  color: #f0e6d6;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  color: #0f9ced;
  margin-bottom: 50px;
}

.experience-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.experience-item {
  display: flex;
  align-items: flex-start;
  background-color: #1a1a1a;
  border-left: 5px solid #0f9ced;
  border-radius: 10px;
  padding: 25px;
  width: 80%;
  max-width: 800px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.experience-item:hover {
  transform: translateY(-5px);
  border-color: #df05057c;
  background-color: #e4d6f0;
}

.experience-item:hover h3{
  color: #1a1a1a;
}

.experience-item:hover p{
  color: #1a1a1a;
}

.experience-item:hover h4{
  color: #df05057c;
}

.experience-logo {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 25px;
}

.experience-details {
  text-align: left;
}

.experience-details h3 {
  color: #e4d6f0;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.experience-details h4 {
  color: #0f9ced;
  font-size: 1rem;
  margin-bottom: 10px;
}

.experience-details p {
  color: #ccc;
  line-height: 1.6;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {
  .experience-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .experience-logo {
    margin: 0 0 15px 0;
  }

  .experience-details {
    text-align: center;
  }
}