/* Background global */
body, html, #root, .App {
  min-height: 100%;  /* minimum pour remplir toute la page */
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Image de fond */
.App {
  background: url('./assets/background.jpg') no-repeat center top;
  background-size: cover;
  background-attachment: fixed; 
  min-height: 100vh;
  height: auto;
}

/* Container principal */
.main-container {
  max-width: 1200px;        
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.50);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
